:root {
    --background: azure;
    --border: red;
  }

header {
  margin: 30;
  font-size: xx-large;
}

body {
  background-color: var(--background);
  max-width: 75%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}

section.update {
  border-color: var(--border);
  border-width: thin;
  border-style: solid;
  padding: 10px;
}

section.search {
    padding: 10px;    
}

address {
  font-style: italic;
}

ul li {
  display: grid;
}

label {
  font-style: italic;
}

form {
    margin: 4px 2px;
    border: none
}