:root {
  --background: azure;
  --border: red;
}

html {
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.3125rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2.652rem;
  --font-size-4xl: 4rem;
}

header {
  margin: 30;
  font-size: var(--font-size-3xl);
}

body {
  background-color: var(--background);
  max-width: 75%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}

section.update {
  border-color: var(--border);
  border-width: thin;
  border-style: solid;
  padding: 10px;
}

section.search {
  padding: 10px;
}

address {
  font-style: italic;
}

ul li {
  display: grid;
}

label {
  font-style: italic;
}

form {
  margin: 4px 2px;
  border: none;
}
